# Fichiers de configuration sensibles
.env

# Volumes de données (GitLab, Jenkins, Traefik, etc.)
data/
gitlab*/       # ex. gitlab, gitlab.bak.123456
jenkins/
traefik/

# Backups
*.bak
*.tar
*.gz

# Logs
*.log
logs/

scm*/

